body {
  min-width: 1200px;
}

a.link {
  display: block;
}

.img-outer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.img-inner {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.section {
  width: 1200px;
  margin: auto;
 
}


.banner-section {
  width: 100%;
  padding-bottom: 44.57%;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.h5-inwork-section,
.h5-news-section {
  display: none;
}

@media (max-width: 768px) {
  .bd-home-news {
    padding: 0;
    padding-top: 1rem;
  }
  .h5-inwork-section,
  .h5-news-section {
    display: block;
  }
  .news-section {
    display: none;
  }
  .dynamic-section {
    display: none;
  }
  .doodle-section {
    display: none;
  }
}



/*百度动态*/

.section-title {
  
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 2.5rem;
  padding-top: 5rem;
  color: #190707;
  letter-spacing: 0;
  text-align: center;
  border-bottom: 1px #E8E8E9 solid;
 
}

.bd-home-dynamic-title,
.bd-inwork-title,
.bd-ourSearch-title,
.bd-ourDoodle-title,
.bd-company-desc-title,
.mb-bd-inwork-title0 {
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 2.5rem;
  padding-top: 5rem;
  color: #969696;
  letter-spacing: 0;
  text-align: center;
  border-bottom: 1px #E8E8E9 solid;
}

.bd-home-dynamic-content {
  padding-bottom: 48px;
}



.bd-home-dynamic-content .row .col-sm-5,
.bd-home-dynamic-content .row .col-sm-7,
.bd-home-dynamic-content .row .col-xs-12 {
  padding: 0 0 0 2.5rem;
}



.news-item {
  display: table-row;
  width: 100%;
}





/*工作在百度*/

.inwork-section-title {
  color: #0e0d0d;
}

.bd-home-inwork {
  background: url(../img/bd_work_bg01.jpg?v=12) no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  overflow: hidden;
}

.inwork-section-content {
  padding-top: 50px;
}

#inwork-indicator{
  display: none;
}

.index1+.inwork-section {
  background-image: url(../img/bd_work_bg01.jpg?v=12);
}

.index2+.inwork-section {
  background-image: url(../img/bd_work_bg02.jpg?v=12);
}

.index3+.inwork-section {
  background-image: url(../img/bd_work_bg03.jpg?v=12);
}

.bd-inwork-items .card-deck {
  margin-right: -24px;
}

.bd-card-span {
  display: inline-block;
}

.bd-font-bottomline {
  display: block;
  width: 30px;
  margin: 0 auto;
  margin-top: 14px;
  border-bottom: 4px #fff solid;
  border-radius: 6px;
}

.bd-inwork-item {
  cursor: pointer;
  /*margin-right: 24px !important;*/
  border: none;
  border-radius: 0;
  font-size: 16px;
  color: #ffffff;
  line-height: 16px;
  text-align: center;
  background-color: transparent;
}

.bd-inwork-item .bd-card-title {
  padding: 15px 0;
}

.bd-card-mod {
  position: relative;
}

.bd-card-mod .img-outer {
  padding-bottom: 62%;
}

.bd-card-mod .card-img {
  width: 100%;
  height: 100%;
}

.bd-work-coverbg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.30);
}

.bd-work-cover {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
  text-align: center;
  transform: -webkit-translate(0%, -50%);
  transform: -moz-translate(0%, -50%);
  transform: -o-translate(0%, -50%);
  transform: -ms-translate(0%, -50%);
  transform: translate(0%, -50%);
}

.bd-work-cover img {
  margin-bottom: 7px;
}

.bd-work-slogan {
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
}

.bd-inwork-item:hover .bd-work-cover {
  display: block;
}

.bd-inwork-item:hover .bd-work-coverbg {
  display: block;
}

.bd-inwork-item:hover .bd-card-title {
  color: #000;
  background: #f8f8f8;
  outline: 1px solid #d6d6d6;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.50);
}

.bd-inwork-item:hover .bd-font-bottomline {
  display: block;
  animation: mymove 1s;
  -webkit-animation: mymove 1s;
  /* Safari 和 Chrome */
  -webkit-animation: mymove 1s;
  -moz-animation: mymove 1s;
  -o-animation: mymove 1s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  margin-top: 14px;
  border-bottom: 4px #000000 solid;
  border-radius: 6px;
}







