/* 头部 */
#head{
    width: 100%;
    border: none;
    text-align: center;
    box-shadow: darkgray 0 0 10px 0;
    
}
/* 百度一下图标 */
.img1{
    margin-top: 20px;  
}
/* 搜索框 */
.kbdyx{
    width: 400px;
    height: 25px;
}
/* 百度一下按钮 */
.bdyx{
    background-color: blue;
    color: honeydew;
    position: relative;
    height: 30px;
    border: none;
    margin-top: 20px;
}
/* “百度样式” */
.chao{
    margin-left: 250px;
    color: black;
    font-size: 12px;
}
/* 帮助样式 */
.help{
    color: black;
    font-size: 12px;
}
/* 主体 */
#main{
    width:1000px;
    padding:0;
    margin:0 auto;
    }
.xin{
    height: 160px;
}
/* 导航服务区域 */
.daohang{
    height: 70px;
}
/* 社区服务区域 */
.shequ{
    height: 250px;
}
h3{
    font-size:16px;
    padding-bottom:10px;
    margin:30px 0 0 0;
    font-family:arial,"Sim Sun";
    font-weight:normal;
    color:#333;
    width:1000px;
}
/* 最新的样式 */
sup{
    font:normal 14px arial,"Sim Sun";
    color:#fff;
    vertical-align:top;
    width: 32px;
    height: 18px;
    line-height:18px;
    text-align: center;
    background-color: #ff6600;
    border-radius:4px;
    margin:2px 0 0 8px;
    display:inline-block;
}
/* 超链接图片 */
.imgs1{
    width: 25px;
    height: 25px;
    float: right;
}
.first{
    text-align: center;
}
.con{
    height: 60px;
    width: 200px;
    margin-left: 10px;
    float: left;
    text-align: center;
}
/* 超链接图片区域 */
.picture{
    height: 60px;
    width: 80px;
    float: left;
}
/* 小标题区域 */
.title{
    width: 120px;
    height: 25px;
    float: left;
}
/* 小标题样式 */
.shangxian{
    position: relative;
    right: 20px;
    color:blue;
}
.translate{
    width: 120px;
    height: 25px;
    float: left;         
}
span{
    font-size:12px;
    color:#666;
}
p{
    height: 30px;
}